<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeamDao">

    <!-- 팀 생성  -->
    <insert id="insertTeam" parameterType="TeamDto" useGeneratedKeys="true" keyProperty="teamId">
        INSERT INTO teampack.team (team_name, assignment_title, due_date)
        VALUES (#{teamName}, #{assignmentTitle}, #{dueDate})
    </insert>

    <!-- 조원 생성 -->
    <insert id="insertMember" parameterType="MembersDto">
        INSERT INTO  teampack.members (user_id, team_id,member_role,member_type)
        VALUES (#{userId}, #{teamId}, #{memberRole}, #{memberType})
    </insert>

    <!-- 팀 아이디 조회 -->
    <select id="selectTeamById" parameterType="long" resultType="org.example.teampack.dto.TeamDto">
        SELECT * FROM teampack.team WHERE team_id = #{teamId}
    </select>

    <select id="selectTeamByUserId" parameterType="long" resultType="org.example.teampack.dto.TeamDto">
        SELECT
        t.team_id,
        t.team_name,
        t.assignment_title,
        t.due_date,
        m.member_type   <!-- 추가 -->
        FROM teampack.team t
        JOIN teampack.members m ON t.team_id = m.team_id
        WHERE m.user_id = #{userId}
    </select>

    <select id="selectMemberType" resultType="string">
        SELECT member_type
        FROM teampack.members
        WHERE user_id = #{userId} AND team_id = #{teamId}
    </select>

    <select id="selectTeamWithMemberType" parameterType="map" resultType="org.example.teampack.dto.TeamDto">
        SELECT t.team_id, t.team_name, t.assignment_title, t.due_date, m.member_type
        FROM teampack.team t
        JOIN teampack.members m ON t.team_id = m.team_id
        WHERE t.team_id = #{teamId} AND m.user_id = #{userId}
    </select>

    <select id="selectMembersByTeamId" parameterType="long" resultType="org.example.teampack.dto.MembersDto">
        SELECT m.member_id, m.team_id, m.user_id, u.user_name, m.member_type
        FROM teampack.members m
        JOIN teampack.users u ON m.user_id = u.user_id
        WHERE m.team_id = #{teamId}
    </select>



</mapper>
