<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserProfileImageDao">

    <insert id ="insertProfileImage" parameterType="UserProfileImageDto">
        INSERT INTO teampack.user_profile_images (user_id, user_image_url)
        VALUES (#{userId}, #{userImageUrl})
    </insert>

    <select id="findByUserId" parameterType="long" resultType="UserProfileImageDto">
        SELECT * FROM teampack.user_profile_images WHERE user_id = #{userId}
    </select>

    <!-- 이미지 수정 -->
    <update id ="updateProfileImage" parameterType="UserProfileImageDto">
        UPDATE teampack.user_profile_images
        SET user_image_url = #{userImageUrl}
        WHERE user_id = #{userId}
    </update>

    <!-- 이미지 삭제 -->
    <delete id = "deleteProfileImageByUserId" parameterType="long">
        DELETE FROM teampack.user_profile_images WHERE user_id = #{userId}
    </delete>

</mapper>
